/* m2m_feedback css */

/* m2m_feedback css */


.progress2 
{
	background: rgba(245, 245, 245, 1);
	border: 0px solid rgba(245, 245, 245, 1);
	border-radius: 4px; 
	height: 40px;	
}

.progress-bar
{
	font-size: 170%;
}


